@use '../colors.scss';

.items-center {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}

.flex {
  display: flex;
}

.dt\:justify-around {
  justify-content: space-around;
}

.items-start {
  align-items: flex-start;
}

.dt\:items-start {
  align-items: flex-start;
}

.dt\:flex-row {
    flex-direction: row;
}

.dt\:flex-col {
  flex-direction: column;
}

.mb-4 {
  margin-bottom: 1rem;
}

.dt\:mb-0 {
  margin-bottom: 0;
}

.grid-cols-\[auto_auto\] {
  grid-template-columns: auto auto;
}

.grid {
  display: grid;
}

.place-content-center {
  align-content: center;
  justify-content: center;
  place-content: center;
}

.u-anchor {
  position: relative;
}

.u-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.font-bold {
  font-weight: 700;
}

.text-8xl {
  font-size: 6rem;
  line-height: 1;
}

.font-condensed {
  font-family: Oswald,Avenir Next Condensed,Arial Narrow,MS UI Gothic,sans-serif;
  color: #f4e9cb;
}

.border-black {
  --tw-border-opacity: 1;
  border-color: #2a2e2e;
  border-color: rgba(42,46,46,var(--tw-border-opacity));
}

.border-2 {
  border-width: 2px;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.w-20 {
  width: 5rem;
}

.w-\[56px\] {
  width: 56px;
}

.h-36 {
  height: 9rem;
}

.label {
  text-shadow: 3px 3px 0 #0e0f0f;
  color: #f4e9cb;
}

.spot.bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(-100%,100%);
}
.spot {
  position: absolute;
}

.u-link[data-v-2d558537] {
  cursor: pointer;
  position: relative;
  touch-action: manipulation;
}
.text-white\/50 {
  color: #f4eacd80;
}
.mt-\[-8px\] {
  margin-top: -8px;
}
.mr-\[-8px\] {
  margin-right: -8px;
}
.u-button {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 24px;
  min-width: 24px;
}
a {
  color: inherit;
  text-decoration: inherit;
}

.fa-solid, .fas {
  font-family: Font Awesome\ 6 Free;
  font-weight: 900;
}

.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: normal;
  display: inline-block;
  display: var(--fa-display,inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.u-anchor {
  position: relative;
}

.active {
  color: #f4eacdbf;
}

.active {
  color: hsla(44,65%,88%,.75);
}

.text-white\/25 {
  color: #f4eacd40;
}

.text-white {
  --tw-text-opacity: 1;
  color: #f4e9cb;
  color: rgba(244,233,203,var(--tw-text-opacity));
}

.leading-none {
  line-height: 1;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.h-6 {
  height: 1.5rem;
}
.m-2 {
  margin: 0.5rem;
}
.col-span-2 {
  grid-column: span 2/span 2;
}

.gap-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.border-white\/50{
  border-color: #f4eacd80;
}

.border-dashed {
  border-style: dashed;
}

.w-\[160px\] {
  width: 160px;
}

.h-\[228px\] {
  height: 228px;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.dt\:hover\:border-white\/75:hover {
  border-color: #f4eacdbf;
}

.dt\:hover\:border-white:hover {
  --tw-border-opacity: 1;
  border-color: #f4e9cb;
  border-color: rgba(244,233,203,var(--tw-border-opacity));
}


//PERKS
.py-4 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-black {
  --tw-text-opacity: 1;
  color: #2a2e2e;
  color: rgba(42,46,46,var(--tw-text-opacity));
}

.uppercase {
  text-transform: uppercase;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: #f4e9cb;
  background-color: rgba(244,233,203,var(--tw-bg-opacity));
}

.u-transition {
  transition-duration: .2s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}

.card {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  --tw-drop-shadow: drop-shadow(0 0 10px rgba(0,0,0,.25));
  background-color: #f4e9cb;
  background-color: rgba(244,233,203,var(--tw-bg-opacity));
  background-image: url(https://nukesdragons.com/img/fo76/perks/card.jpg);
  background-size: cover;
  border-color: #2a2e2e;
  border-color: rgba(42,46,46,var(--tw-border-opacity));
  border-radius: 0.375rem;
  border-width: 2px;
  color: #2a2e2e;
  color: rgba(42,46,46,var(--tw-text-opacity));
  display: flex;
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) drop-shadow(0 0 10px rgba(0,0,0,.25));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  flex-direction: column;
  height: 228px;
  justify-content: space-between;
  width: 160px;
}

.header {
  align-items: center;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: flex;
  height: 1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.header, .title {
  --tw-text-opacity: 1;
  color: #f4e9cb;
  color: rgba(244,233,203,var(--tw-text-opacity));
}

.-ml-1 {
  margin-left: -0.25rem;
}

.gap-4 {
  margin: 1rem;
}

.p-4 {
  padding: 1rem;
}

.title {
  flex-grow: 1;
  font-family: Barlow Condensed,Avenir Next Condensed,Arial Narrow,MS UI Gothic,sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #f4e9cb;
}

.z-10 {
  z-index: 10;
}
.w-8 {
  width: 2rem;
}
.h-8 {
  height: 2rem;
}

.rounded {
  border-radius: 0.25rem;
}

.leading-tight {
  line-height: 1.25;
}

.ranks, .ranks .content {
  display: flex;
  justify-content: center;
}

.ranks {
  flex-grow: 0;
}

.ranks .content {
  background-size: 160px 228px;
  padding: 0 6px;
}

.fss-perk-rank-selector[data-v-127279da], .rank[data-v-127279da] {
  display: flex;
  justify-content: center;
}

.fss-perk-rank-selector[data-v-127279da] {
  background-size: 160px 228px;
  padding: 0 6px;
}

.rank[data-v-127279da] {
  align-items: center;
  height: 30px;
  transform: scale(1);
  width: 26px;
}

.text-black\/50 {
  color: #2a2e2e80;
}

.left-2 {
  left: 0.5rem;
}
.bottom-1 {
  bottom: 0.25rem;
}

.absolute {
  transform: translateZ(0);
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.u-mobile-anchored[data-v-7da27d2b] {
  background-color: transparent;
  position: relative;
}

.u-mobile-anchored[data-v-7da27d2b] {
  --tw-bg-opacity: 1;
  background-color: rgba(29,33,30,var(--tw-bg-opacity));
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.u-stack-item {
  height: 24px;
  position: relative;
}

.u-stack.extra-padding {
  padding-bottom: 204px;
}

.u-stack {
  width: var(--stack-width);
}

.u-stack-item .container {
  position: absolute;
  transform: translateZ(0);
  transition: transform .2s cubic-bezier(.19,1,.22,1);
}

.container {
  width: 100%;
}

.u-button {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 24px;
  min-width: 24px;
}

.u-action.absolute {
  position: absolute;
}

.absolute {
  transform: translateZ(0);
}

.right-2 {
  right: 0.5rem;
}

.absolute {
  position: absolute;
}

.font-18px {
  font-size: 18px;
}

.h-\[28px\] {
  height: 28px;
}

.p {
  background-color: #779879;
}

.e {
  background-color: #786d4f;
}

.r {
  background-color: #66acb7;
}

.s {
  background-color: #c58b4c;
}

.o {
  background-color: #9a9a80;
}

.n {
  background-color: #bd9079;
}

.u-stack-item .container:hover {
  transform: translate(0px,-10px)
}

.u-stack-item .container.above:hover {
  transform: translate(0px,-40px)
}

.u-stack-item .container.current:hover {
  transform: translate(0px,-40px)
}

.u-stack-item .container.last:hover {
  transform: translateZ(0)
}

.u-stack-item .container.below:hover {
  transform: translate(0px, 170px)
}

.dt\:hover\:scale-105:hover {
  transform: scaleX(1.05) scaleY(1.05);
}

.u-stack-item .container.below {
  transform: translate(0px, 180px);
}

.u-removable {
  position: relative;
}

.u-removable .remove{
  align-items: center;
  color: #8e8778;
  display: flex;
  height: 26px;
  justify-content: center;
  position: absolute;
  right: -18px;
  top: 0;
  width: 20px;
}

.u-removable .remove {
  display: none;
}

.u-removable:hover .remove {
  display: flex;
}

.active:hover {
  --tw-text-opacity:1;
  color: #f4e9cb;
  color: rgba(244,233,203,var(--tw-text-opacity))
}

.Tab--custom {
  background-color: rgba(0, 0, 0, 0);

  .Tab {
    color: rgb(244, 233, 203);
    background-color: rgba(0, 0, 0, 0);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .Tab--selected {
    --tw-text-opacity: 1;
    color: #2a2e2e;
    color: rgba(42,46,46,var(--tw-text-opacity));
    background-color: #f4e9cb;
    background-color: rgba(244,233,203,var(--tw-bg-opacity));
  }
}

